			<section class="about-section" id="<%= id %>">
				<div class="section-header"><h1 class="shadow"><%= title %></h1></div>
				<% if img %>
					<%= image_tag img, class: "section-image" %>
				<% end %>
				<p class="section-contents"><%= simple_format contents %></p>
				<% if id == "botanists" %>
					<ul id="botanists-list">
						<%= render partial: 'basics/botanist', collection: @botanists, as: :botanist %>
					</ul>
				<% end %>
			</section>