			<div class="section-botanist" id="<%= id %>">
				<div class="botanist-header"><h2><%= full_name %><span><%= from %> - <%= to %></span></h2></div>
				<%= image_tag img, class: "section-image" %>
				<p class="botanist-bio"><%= bio %></p>
			</div>