<% provide(:title, 'About') %>
<div class="container main">
	<div class="row">
		<div class="col-md-3">
			<div class="sidebar affix transparent" id="sidebar-nav">
				<ul class="nav sidenav shadow">
					<li><a href="#overview">Overview</a></li>
					<li><a href="#origins">Origins</a></li>
					<li><a href="#20th-century">20th Century</a></li>
					<li><a href="#present-day">Present Day</a></li>								
					<li>
						<a href="#botanists">Botanists</a>
					</li>
						<ul class="nav">
							<%= render partial: 'basics/botanists_sidebar', collection: @botanists, as: :botanist %>																																		
						</ul>					
					
				</ul>
			</div>
		</div>
		
		<div class="col-md-9 transparent" id="about-main">
			<%= render partial: 'basics/about_section', locals: { id: "overview",
																														title: "Overview",
																														img: nil,
																														contents: "The L. H. Bailey Hortorium Herbarium (BH) at Cornell University is one of the largest university-affiliated collections of preserved plant material in North America. It includes Cornell's Wiegand Herbarium (CU), which was merged with BH in 1977. The combined herbaria now number ca. 860,000 (maybe more or maybe less) specimens of algae, bryophytes, and vascular plants." } %>

			<%= render partial: 'basics/about_section', locals: { id: "origins",
																														title: "Origins",
																														img: "history.jpg",
																														contents: "In 1869 Cornell’s first President, Andrew D. White, purchased the private herbarium of Horace Mann, Jr., a promising young botanist who had succumbed to tuberculosis in 1868. Mann’s 12, 500 specimens became the nucleus of the herbarium of the Department of Botany in the College of Arts and Sciences. The first curator of the collection was W. R. Dudley, then a student instructor, who added many of his own specimens to the herbarium as he compiled the 1888 Cayuga Flora. By this time, the collection also included specimens from a University-led expedition to Brazil and those collected for Government Surveys of the Western U. S., a nearly complete set of Atlantic coast seaweeds and more than a thousand species of fungi.  W. W. Rowlee, instructor and professor of botany from 1889-1931, next served as curator, during which time the collection continued to grow. " } %>


			<%= render partial: 'basics/about_section', locals: { id: "20th-century",
																														title: "20th Century",
																														img: "history.jpg",
																														contents: "<p>In 1913, Dr. K. M. Wiegand started an herbarium in the new department of Botany of the College of Agriculture. Over the course of Wiegand’s career at Cornell, the collection grew to over 250,00 specimens, which included many vouchers for a Flora of the Cayuga Lake Basin, co-authored by Wiegand and Dr. Arthur Eames, and completed in 1925.  The herbaria of the College of Agriculture and of the College of Arts and Sciences were brought together in the new Plant Science Building in 1931. Dr. Wiegand continued in charge of the consolidated collection, now known as CU, until he was succeeded by R. T. Clausen in 1941. The herbarium was officially named in honor of Dr. Wiegand in 1951.</p>
																														<p>The Bailey Hortorium was conceived and founded by Liberty Hyde Bailey, and had its beginning in 1935 when he gave to Cornell the land, buildings, collections, and horticultural-botanical library that he had brought together. Bailey defined the Hortorium as “a place for scientific study of plants of the garden, for their documentation, their classification and for their naming.” His personal collection of 125,000 herbarium sheets is noteworthy for its wealth of cultivated plant material. The Hortorium collection was curated by Ethel Zoe Bailey until her retirement in 1957.</p><p>Brought to the newly constructed Mann Library building in 1953, the two collections, CU and BH, were housed side by side but not merged until 1977. Subsequently known as the L.H. Bailey Hortorium Herbarium and identified by the abbreviation BH, the collection now contains more than 870,000 specimens of cultivated and wild plants.</p>" } %>																																																		


			<%= render partial: 'basics/about_section', locals: { id: "present-day",
																														title: "Present Day",
																														img: "history.jpg",
																														contents: "The College of Agriculture and Life Sciences began a decade long renovation of the Mann Library building in 1996, the second phase of which necessitated the move of the BH collection to an off-campus location in 2004. In anticipation of that sojourn, BH applied for and received an NSF grant for curation and reorganization of the collection, which then took place while the collection was off-campus.  Specimens were reorganized into 389 vascular plant families and sorted into eight color-coded geographic regions and two cultivated categories. The move of the collection from off-campus temporary space to the newly renovated space in Mann began in January 2008, at which time family circumscriptions were implemented following a modified APG II classification. The state of the art facility now includes 926 new herbarium cases, a large work room and a walk-freezer, imaging rooms and naturally lit workspaces. The relocated Hortorium library is readily accessible to staff as well as patrons. " } %>

			<%= render partial: 'basics/about_section', locals: { id: "botanists",
																														title: "Botanists",
																														img: nil,
																														contents: "Several botanists have been important to the study and collection of wild and cultivated plants that are represented in the BH Herbarium, including those listed on the sidebar." } %>


		</div>
	</div>
</div>