<% provide(:title, 'Contact') %>
<div class="main container">

	<div class="transparent" id="contact-container">

		<!-- general contact information -->
		<%= render partial: 'basics/general_contact_info' %>

		<!-- contact curator -->
		<%= render partial: 'basics/contact_section', locals: { name: 			"Kevin C. Nixon",
																														website:    "http://plantbio.cornell.edu/cals/plbio/directory/faculty.cfm?netId=kcn2", 
																														title: 			"Curator",
																														img: 				"kevin.jpg",
																														interests: 	"Taxonomy and phylogenetics of Quercus, Fagaceae;
																																				Platanaceae; higher level phylogenetics",
																														email: 			"kcn2@cornell.edu",
																														phone: 			"7975",
																														room: 			"406"} %>	

		<!-- contact associate curator -->
		<%= render partial: 'basics/contact_section', locals: { name: 			"Anna Stalter",
																														website:    nil, 
																														title: 			"Associate Curator",
																														img: 				"anna.jpg",
																														interests: 	"New York flora, emphasizing Tompkins County; Invasive plants",
																														email: 			"ams15@cornell.edu",
																														phone: 			"1052",
																														room: 			"446"} %>

		<!-- contact assistant curator -->
		<%= render partial: 'basics/contact_section', locals: { name: 			"Peter Fraissinet",
																														website:    nil, 
																														title: 			"Assistant Curator",
																														img: 				"prep-room.jpg",
																														interests: 	"Botanical documentation and literature",
																														email: 			"pf13@cornell.edu",
																														phone: 			"0443",
																														room: 			"444"} %>

		<!-- contact professor -->
		<section class="row contact-section">

			<%= render partial: 'basics/contact_professor', locals: { name: 		 "Dr. Jim Reveal",
																																website: 	 "http://www.plantsystematics.org/reveal/",
																																title:   	 "Adjunct Professor",
																																img: 		 	 "reveal.jpg",
																																interests: "Polygonaceae subfamily Eriogonoideae; suprageneric nomenclature; botanical history; floristics of western U.S."} %>

			<%= render partial: 'basics/contact_professor', locals: { name: 		 "Dr. Vern Durkee",
																																website: 	 nil,
																																title:   	 "Visiting Professor",
																																img: 		 	 "durkee.jpg",
																																interests: "Acanthaceae, flora of Tompkins County"} %>

		</section>

		<section class="row  contact-section">

			<%= render partial: 'basics/volunteer', locals: { name: "Linda Blossom",
																												img: 	"blossom.jpg"} %>
			<%= render partial: 'basics/volunteer', locals: { name: "Susanne Lorbeer",
																												img: 	"lorbeer.jpg"} %>
			<%= render partial: 'basics/volunteer', locals: { name: "Rosemarie Parker",
																												img: 	"parker.jpg"} %>																												

		</section>


	</div>																													
</div>