             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                <ul class="dropdown-menu">

                  <li class="dropdown-header">Major</li>
                  <li><%= link_to VH,    LINK_TO_VH %></li>
                  <li><%= link_to TCF,   LINK_TO_TCF %></li>
                  <li><%= link_to CUPAC, LINK_TO_CUPAC %></li>
                  <li><%= link_to PS,    LINK_TO_PS %></li>

                  <li class="divider"></li>

                  <li class="dropdown-header">Additional</li>
                  <li><%= link_to "Plant Pathology Herbarium (CUP)", "http://www.plantpath.cornell.edu/CUPpages/" %></li>
                  <li><%= link_to "Paleobotanical Holdings", "http://bhort.bh.cornell.edu/paleo/fossils.html" %></li>
                  <li><%= link_to "Horticultural Catalogue Collection", "http://bhort.bh.cornell.edu/newherb/catalogs.html" %></li>

                </ul>
              </li>