<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Herbarium</title>
	 	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	  <script type="text/javascript"></script>
	</head>

  <body data-spy="scroll" data-target="#sidebar-nav" data-offset="300">
    <!-- Wrap all page content here -->
    <div id="wrap">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>

  